<div class="recipe" *ngIf="recipe !== undefined">
    <div class="banner">
        <img class="cocktail-image" src={{recipe.image}} />
        <div class="cocktail-name">{{recipe.name}}</div>
    </div>
    <h2 class="text-center">Vous aurez besoin...</h2>
    <div class="steps" *ngFor="let step of recipe.steps">
        <app-ingredient [step]=step></app-ingredient>
    </div>
    <h2 class="text-center">Préparation</h2>
    <div class="steps" *ngFor="let step of recipe.steps">
        <app-step [step]=step></app-step>
    </div>
    <app-stepbystep></app-stepbystep>
</div>