<div class="recipe" *ngIf="recipe !== undefined">
    <div class="banner m-y" [ngStyle]="setMyStyles()">
        <div class="cocktail-name">{{recipe.name}}</div>
    </div>
    <div class="container justify-center">
        <h2 class="text-center section-title row m-y">Vous aurez besoin...</h2>
        <div class="ingredient-container row m-y">
            <div class="ingredient-background">
                <app-ingredient *ngFor="let step of recipe.steps" [step]=step></app-ingredient>
            </div>
        </div>
        <h2 class="text-center section-title row m-y">Préparation</h2>
        <div class="justify-center preparation d-flex row wrap m-y">
            <app-step class="step-background row wrap" *ngFor="let step of recipe.steps" [step]=step></app-step>
        </div>
    </div>
    <div class="step-button btn" [ngClass]="{'nothing': !clicked, 'full-height': clicked}">
        <div [ngClass]="{'hidden': clicked}">
            Suivre étape par étape
        </div>
        <span (click)="clicked = !clicked"> V</span>
        <div class="justify-center d-flex row wrap m-y">
            <app-stepbystep class="step-background row wrap" [steps]=recipe.steps [recipe]=recipe
                [ngClass]="{'hidden': !clicked}">
            </app-stepbystep>
        </div>
    </div>

</div>