@import "../../../assets/variables/font.scss";

.banner {
    margin-top: 0;
    width: 100%;
    height: 330px;
    position: relative;
    overflow: hidden;

    & img {
        width: 100%;
    }

    & .cocktail-name {
        position: absolute;
        left: 10px;
        bottom: 10px;
        font-size: 25px;
        font-weight: bold;
        color: white;
        font-weight: $medium-weight;
        z-index: 2;
    }

    & .cocktail-vol {
        position: absolute;
        right: 10px;
        bottom: 10px;
        font-size: 25px;
        font-weight: bold;
        color: white;
        font-weight: $medium-weight;
        z-index: 2;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.95) 100%);
    }
}

.ingredient-container {
    display: flex;
    justify-content: center;
}

.ingredient-background {
    background: rgba(98, 183, 111, 0.17);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: inherit;
}

.step-background {
    background: rgba(98, 183, 111, 0.17);
    display: flex;
    margin: 10px 0;
    padding: 10px;
    max-width: 450px;
    justify-content: center;
}

.full-height {
    height: 97vh !important;
    transition: ease-in-out 0.2s;
}

.section-title {
    font-weight: $book-weight;
}

.preparation {
    margin-bottom: 10vh;
}
