nav {
    background: white;
    display: flex;
    position: sticky;
    z-index: 1000;
    right: 0;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    justify-content: start;
}

.back {
    position: absolute;
    left: 20px;
    height: 25px;
}

.logo {
    height: 25px;
    margin: 0 auto;
}
