<div class="container filters-container" *ngIf=!recipes>
    <div class="container row  d-flex space-between">
        <h2 class="row ingredient-title">selection</h2>
        <div *ngFor="let ingredient of ingredients">
            <app-cardFilters for *ngIf="ingredient.isActive" [ingredient]=ingredient></app-cardFilters>
        </div>
    </div>
    <div class="container d-flex space-between " *ngFor="let type of types">
        <h2 class="row ingredient-title">{{type}}</h2>
        <div *ngFor="let ingredient of ingredients">
            <div *ngIf="ingredient.type == type">
                <app-cardFilters *ngIf="!ingredient.isActive" [ingredient]=ingredient></app-cardFilters>
            </div>
        </div>
    </div>
    <div class="filters-button-container">
        <div class="select row d-flex filters-button" (click)="validateFilter()">
            Valider les filtres
        </div>
        <div class="reset row d-flex filters-button" (click)="resetFilters()">
            Réinitialiser les filtres
        </div>
    </div>
</div>

<div class="container filters-container justify-center" *ngIf=recipes>
    <app-reporting [recipesInput]=recipes></app-reporting>
</div>