.ingredient-card {
    display: flex;
    width: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #357B3F;
    margin: 10px 10px;

    img {
        height: 100px;
    }
}
